
<main>
    <div class="animation" *ngIf="playAnimation">
        <div class="background-box"></div>
        <div class="slash blue"><img src="/assets/ag_logo_flat.png"></div>
        <div class="title mask">
            <div>{{title}}</div>
        </div>
        <div class="subtitle mask">
            <div>{{subtitle}}</div>
        </div>
   </div>
    <div class="countdown" *ngIf="countdownAnimationActive">
        <app-countdown></app-countdown>
   </div>
    <div class="transition" *ngIf="transitionAnimationActive">
        <div class="transition-rightBlock"></div>
        <div class="transition-leftBlock"></div>
        <div class="transition-text">{{transitionText}}</div>
   </div>
   <div class="zwischentext" *ngIf="zwischentext != ''">
       <pre class="zwischentext-text">{{zwischentext}}</pre>
  </div>
   
</main>